* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ============= common css end ========= */
.navbar {
    background: #FFFBF0;
}

.navbar-brand img {
    width: 12rem
}

.navbar-light .navbar-nav .nav-link {
    color: #3C3C3C;
    font-size: 18px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #85A019;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #474A66;
}

/* ============ header part end ========== */

#banner_part {
    background: #FFFBF0;
}

.btn-color {
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-image: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
    box-shadow: 0 0 0 .25rem transparent;
    color: #fff;
    font-weight: 600;
}

.btn-color:hover {
    color: #fff;
}

.btn:focus {
    box-shadow: 0 0 0 .25rem #A4BC46;
}

.banner_text h1 {
    color: #FABE4C;
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
    padding-top: 80px;
}

.banner_text h1 span {
    color: #363958;
}

.banner_text p {
    color: #3E3E3E;
    font-weight: 600;
}

/* ============ banner part end ========== */
.title {
    color: #363958;
}

.jacket_details h3 {
    color: #363958;
}

.jacket_details p {
    color: #3E3E3E;
}

.price h2 {
    color: #FABE4C;
    font-size: 2rem;
}

.jacket_bg {
    background: #f1f1f1;
}

/* ============ header part end ========== */
/* ============ header part end ========== */
/* ============ header part end ========== */
/* ============ header part end ========== */
/* ============ header part end ========== */